body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

/*.navbar{
    height: 33.7px;
    background-color: #2b2728;
}*/
.head h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-family: "Montserrat-bold";
    font-weight: 3rem;
    line-height: 1.5;
}
h3{
    font-family:"Montserrat-bold" ;
    color: rgb(31, 27, 27);
    font-weight: bold;
    font-size: 15px;
}
p{
    color: #7a7474;
}
.col-lg-6{
    padding-top: 30px;
    margin: 0 0 0 60px;
}

.navbar{
    padding-bottom: 4.5rem;
}
.navbar-dark .navbar-brand {
    font-family: "Ubuntu";
    color: #f1e6e6;
    font-size: 30px;
    font-weight: bold;
    font-weight: 100px;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "montserrat light";
}
.download-btn{
    margin: 5% 3% 5% 0;
}
.title-img{
    width: 40%;
    transform: rotate(25deg);
    position: absolute;
}/* we used z0ndex for the position of the img*/
/* If we use z-index -1 then img will go behind the features*/
/* If we dont want img behind the color then we have to not use z-index value & bydefault it considerd value zero*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}


.row{
    padding: 50px 0 50px 0;
}
.features-box{
    text-align: center;
}

.features-box .fas {
    color: #ff4c68;
}

.H1:hover{
    color: rgb(233, 31, 31);
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8272;
    color: white;
}

.testimonial-image{
    width: 25%;
    border-radius: 100%;
    padding: 20px;
}

.caption{
    padding-top: 40px;
}

#press{
    background-color: #ef8272;
    text-align: center;
    padding: 20px;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}
.carousel-item  img {
    margin: 0 auto;
    border-radius: 50%;
    max-width: 20%;
}

#cta{
    background-color: #ff4c68;
}

.tagline{
    color: #fff;
}

.icon {
    display: flex;
    list-style: none;
    justify-content: center;
}
.icon li {
    width: 40px;
    height: 40px;
    background-color: #686565;
    margin: 10px;
    line-height: 40px;
    border-radius: 50% ;
    border: white solid 1px;
    display: flex;
    justify-content: center;

}
.icon  li a{
    color:white;
}
.icon li:hover {
    transform: rotate(360deg);
    transition: .4s;
}
.cp{
    text-align: center;
}